.Analysis, .analysis {
  color: #37aaa1;
  fill: #37aaa1;
}

.Analysis.dark {
  fill: #24706a;
}

.Analysis.light {
  fill: #88d8d2;
}

.Dataset, .dataset {
  color: #126B93;
  fill: #126B93;
}

.Dataset.dark {
  fill: #0b354d;
}

.Dataset.light {
  fill: #7997b6;
}

a.Dataset:hover {
  color: #0b354d;
}

.Publication, .ScholarlyArticle, .publication {
  color: #e15759;
  fill: #e15759;
}

.Publication.dark, .ScholarlyArticle.dark {
  fill: #9d1c1e;
}

.Publication.light, .ScholarlyArticle.light {
  fill: #f4c3c4;
}

a.Publication:hover {
  color: #9d1c1e;
}

.Protocol, .protocol {
  color: #59a14f;
  fill: #59a14f;
}

.Protocol.dark {
  fill: #2a4b25;
}

.Protocol.light {
  fill: #95c88e;
}

a.Protocol:hover {
  color: #2a4b25;
}

.ClinicalTrial, .clinicaltrial {
  color: #b475a3;
  fill: #b475a3;
}

.ClinicalTrial.dark {
  fill: #6e3c60;
}

.ClinicalTrial.light {
  fill: #d8b7cf;
}

a.ClinicalTrial:hover {
  color: #6e3c60;
}

.SoftwareSourceCode, .softwaresourcecode {
  color: #a97252;
  fill: #a97252;
}

.SoftwareSourceCode.dark {
  fill: #754f39;
}

.SoftwareSourceCode.light {
  fill: #cba996;
}

a.SoftwareSourceCode:hover {
  color: #754f39;
}

.Book, .book {
  color: #ff98a8;
  fill: #ff98a8;
}

.Book.dark {
  fill: #d16072;
}

.Book.light {
  fill: #ffd5dc;
}

.WebSite, .Website, .website {
  color: #f28e2c;
  fill: #f28e2c;
}

.WebSite.dark {
  fill: #ad5b0b;
}

.WebSite.light {
  fill: #f9cea4;
}

.ImageObject {
  color: #d4aa15;
  fill: #f6c827;
}

.ImageObject.dark {
  fill: #bd9813;
}

.ImageObject.light {
  fill: #f4de8f;
}

.CreativeWork, .MediaObject, .PresentationDigitalDocument, .BreadcrumbList {
  color: #777;
  fill: #777;
}

.CreativeWork.dark, .MediaObject.dark, .PresentationDigitalDocument.dark, .BreadcrumbList.dark {
  fill: #444444;
}

.CreativeWork.light, .MediaObject.light, .PresentationDigitalDocument.light, .BreadcrumbList.light {
  fill: #aaaaaa;
}

.orange-title {
  color: #f28e2c;
  font-size: 0.9em;
}

.loader {
  position: fixed;
  z-index: 100;
  top: calc(50vh - 50px) !important;
  left: calc(50vw - 50px) !important;
}

button {
  line-height: 1.5em;
  font-size: 1em;
  fill: white;
  font-family: "DM Sans", Avenir, Helvetica, Arial, sans-serif;
  margin-right: 0.25em;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
  border-color: #cbd7e3;
  cursor: pointer;
}
button:focus {
  outline: none !important;
}
button.chip {
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  white-space: nowrap;
  cursor: pointer;
}
button.chip .remove-btn {
  margin-left: 0.25em;
  font-size: 0.75em;
}

.btn-main-outline a {
  color: #114068;
}
.btn-main-outline a:hover {
  color: white !important;
}

.btn-no-outline {
  color: #126B93;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-no-outline:hover {
  background: #114068 !important;
  color: white;
  text-decoration: none;
}

.all-selected,
.to-add.all-selected,
button.chip:hover {
  background: #6c757d !important;
  color: white;
}
.all-selected .remove-btn,
.to-add.all-selected .remove-btn,
button.chip:hover .remove-btn {
  color: #D13B62 !important;
}

.to-add {
  background: #DDD !important;
}
.to-add .add-btn {
  color: #8aa4be !important;
}

button.chip.to-add:hover {
  background: #DDD !important;
  color: #2c3e50;
  cursor: default;
}
button.chip.to-add:hover .add-btn {
  color: white !important;
}

.btn-main {
  background: #114068 !important;
  border: #114068 2px solid !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-main:hover {
  background: #126B93 !important;
  color: white;
}
.btn-main-outline {
  background: transparent;
  border: #114068 2px solid !important;
  color: #126B93;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-main-outline:hover {
  background: #114068 !important;
  color: white;
}
.btn-main-flat {
  background: transparent;
  border: none !important;
  color: #126B93;
  transition: all 0.5s;
}
.btn-main-flat:hover {
  background: #114068 !important;
  color: white !important;
}

.btn-sec {
  background: #126B93 !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-sec:hover {
  background: #114068 !important;
  color: white;
}

.btn-grey {
  background: #DDD !important;
  border: #AAA 1px solid !important;
  color: #888;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-grey:hover {
  background: #AAA !important;
  color: white;
  text-decoration: none !important;
}
.btn-grey-flat {
  border: none !important;
  background: #DDD !important;
  color: #666;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-grey-flat:hover {
  background: #AAA !important;
  color: white;
  text-decoration: none !important;
}
.btn-grey-outline {
  background: transparent;
  border: #AAA 1px solid !important;
  color: #888;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-grey-outline:hover {
  background: #BBB !important;
  color: white;
}

.btn-accent {
  background: #D13B62 !important;
  color: white;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-accent:hover {
  background: #86203a !important;
  color: white;
}
.btn-accent-outline {
  background: transparent;
  border: #c42e55 2px solid !important;
  color: #D13B62;
  transition: all 0.5s;
  text-transform: uppercase;
}
.btn-accent-outline:hover {
  background: #D13B62 !important;
  color: white;
}
.btn-accent-flat {
  background: transparent;
  border: none !important;
  transition: all 0.5s;
}
.btn-accent-flat:hover {
  background: #D13B62 !important;
  color: white !important;
}

.btn-accent:disabled {
  background: #CCC !important;
  color: #444 !important;
  cursor: default !important;
}

.btn-outline-secondary:hover {
  background: #6c757d !important;
  color: white;
}

.chip.btn-outline-secondary-no-hover:hover {
  background: white !important;
  color: inherit !important;
  cursor: default;
}

.MOC,
.MOI,
.VOC,
.VOI,
.VUM {
  padding: 0.35rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  line-height: 1;
  flex-shrink: 0;
  font-size: small;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.MOC,
.VOC {
  background: #fceeef;
  color: #e15759;
  border-color: #e15759;
}

.MOI,
.VOI {
  background: #fef5ec;
  color: #f28e2c;
  border-color: #f28e2c;
}

.VUM {
  background: #fdf9eb;
  color: #bd9813;
  border-color: #bd9813;
}

.VOC-color {
  color: #e15759;
}

.VOI-color {
  color: #f28e2c;
}

.VUM-color {
  color: #bd9813;
}

.moc,
.voc {
  background: #fceeef;
  color: #e15759;
  border-color: #e15759;
  text-align: center;
}

.moi,
.voi {
  background: #fef5ec;
  color: #f28e2c;
  border-color: #f28e2c;
}

.vum {
  background: #fdf9eb;
  color: #bd9813;
  border-color: #bd9813;
}

.custom {
  background: #e3f0fb;
  color: #126B93;
}

*,
*:after,
*:before {
  transition: 0.25s ease-in-out;
}

.checkbox-label {
  display: block;
  background: #f3f3f3;
  height: 24px;
  width: 48px;
  border-radius: 24px;
  margin: 24px auto;
  position: relative;
  box-shadow: 0 0 0 2px #dddddd;
}
.checkbox-label .on {
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  opacity: 1;
  min-width: 300px;
  line-height: 24px;
  opacity: 0;
  color: #D13B62;
}
.checkbox-label .off {
  display: block;
  position: absolute;
  z-index: 0;
  right: 55px;
  text-align: right;
  opacity: 1;
  min-width: 300px;
  line-height: 24px;
  opacity: 1;
  color: #bbbbbb;
}
.checkbox-label:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 24px;
  height: 24px;
  width: 24px;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
}

.checkbox {
  position: absolute;
  left: -5000px;
}
.checkbox:checked + .checkbox-label {
  background: #D13B62;
  box-shadow: 0 0 0 2px #D13B62;
}
.checkbox:checked + .checkbox-label .on {
  left: 60px;
  opacity: 1;
}
.checkbox:checked + .checkbox-label .off {
  right: 0;
  opacity: 0;
}
.checkbox:checked + .checkbox-label:before {
  left: 30px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #D13B62;
}

.gisaid-text {
  font-size: 1.5rem;
}

.gisaid-lg {
  height: 45px;
}

.gisaid {
  height: 40px;
}

/*# sourceMappingURL=_objects.css.map */
